/* #region BUILTIN */
body
{
    background-image: url("/resources/images/background.webp");
}
/* #endregion */

/* #region CLASSES */
.container
{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 0;
    padding-bottom: 0;
    height: 100vh;
}
/* #endregion */